@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a1c;
    --foreground: #000;
  }
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  transition: background 1.5s ease;
}

.slides {
  /* animation: slide-animation 1s infinite; */
  /* animation-delay: 5s; */
  transition: transform 1s ease-in-out;
}

/* @keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
} */
