@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a1c;
    --foreground: #000;
  }
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  transition: background 1.5s ease;
}
